@import url(https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Viga&display=swap);
/*ALGEMEEN*/
* {
  padding: 0;
  margin: 0;
  font-family: "Oxygen", sans-serif;
}
html {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #f4fff1;
}
/*ALGEMEEN*/
li::marker {
  display: none;
}
.navbar {
  height: 100px;
  padding-right: 50px;
  background-color: #2f2d2e;
  display: flex;
  justify-content: space-between;
}
.navbar .nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
.navbar .nav a {
  font-family: "Viga", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.navbar .nav a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navbar .nav a:hover::after {
  width: 100%;
}
.navbar .logo img {
  height: 100px;
}
/*INDEX*/

/*INLOGGEN*/
.col1 {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
.col1 .inloggen {
  background-color: #86b94f;
  padding: 20px 50px;
  border-radius: 15px;
  margin-top: 50px;
  width: 30%;
}
.col1 .inloggen h1 {
  color: #fff;
  padding: 20px;
  text-align: center;
}
.col1 .inloggen h3 {
  color: #fff;
}
.col1 .inloggen p {
  color: #fff;
}
/*Font kleur: #000 & #FFF
Grijs: #2f2d2d
Groen: #86b94f
Achtergrond groen: #f4fff1*/
/*FOOTER*/
.footer {
  background-color: #2f2d2e;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  height: 10rem;
}
.footer .contact {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  padding: 40px 0px 0px 50px;
}
.footer .logo {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 50px;
}
.footer .contact .col1 {
  color: #fff;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.footer .contact .col1 a {
  font-family: "Oxygen", sans-serif;
  color: #86b94f;
  text-decoration: none;
  font-size: 18px;
}
.footer .contact .col1 a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #86b94f;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.footer .contact .col1 a:hover::after {
  width: 100%;
}
