@import url(https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Viga&display=swap);
/*ALGEMEEN*/
* {
    padding: 0;
    margin: 0;
}
html {
    height: 100vh;
}
body {
  height: 100vh;
}
:root {
  --white: #fff;
  --black: #000;
  --green: #86b94f;
  --lightgreen: #f4fff1;
  --darkgray: #2f2d2d;
  --lightgray: #f0f0f0;
}
p {
    font-family: 'Oxygen', sans-serif;
}
h1 {
    font-family: 'Viga', sans-serif;
}
h3 {
    font-family: 'Viga', sans-serif;
}
body {
    background-color: var(--lightgreen);
}
.divider {
  height: 30px;
  background-color: var(--darkgray);
}
/*NAVBAR*/
li::marker {
    display: none;
}
.navbar {
    height: 100px;
    padding-right: 50px;
    background-color: var(--darkgray);
    display: flex;
    justify-content: space-between;
}
.navbar .nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}
.navbar .nav a {
    font-family: 'Viga', sans-serif;
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
}   
.navbar .nav a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--white);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar .nav a:hover::after{
	width: 100%;
}
.navbar .logo img {
    height: 100px;
}
/*INDEX*/
.home .blok1 {
background-image: url('../foto/image.png');
background-size: cover;
background-repeat: no-repeat;
height: 500px;
}
.home .blok1 .col {
float: left;
width: 40%;
background-color: hsl(330, 2%, 18%, 0.7);
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 50px;
color: var(--white);
}
.home .blok1 .col p {
  font-size: 24px;
  line-height: 24px;
}
.home .blok1 .col h1 {
  font-size: 48px;
  line-height: 48px;
}
.home .blok1 img{
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home .blok2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 100px;
}
.home .blok2 .col {
  padding: 50px 0px;
  text-align: center;
}
.home .blok2 .col img {
  padding-bottom: 25px;
  height: 250px;
  width: 250px;
  border: 100px;
}
.home .blok2 .col p {
 font-size: 32px;
 line-height: 32px;
 font-weight: 600;
}
.home .blok3 {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
  flex-direction: row;
  align-items: center;
}
.home .blok3 .col img {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
}
.home .blok3 .col h1 {
  font-size: 28px;
  line-height: 28px;
  padding-bottom: 25px;
}
.home .blok3 .col p {
  font-size: 20px;
  line-height: 22px;
}
.home .blok4 {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  flex-direction: row;
  align-items: center;
  padding-left: 100px;
}
.home .blok4 .col img {
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
}
.home .blok4 .col h1 {
  font-size: 28px;
  line-height: 28px;
  padding-bottom: 25px;
}
.home .blok4 .col p {
  font-size: 20px;
  line-height: 22px;
}
/*INLOGGEN*/
.col1{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;   
}
.col1 .inloggen {
  background-color: #86b94f;
  padding: 20px 50px;
  border-radius: 15px;
  margin: 50px 0px;
  width: 30%;
}
.col1 .inloggen h1 {
  color: #fff;
  padding: 20px;
  text-align: center;
  padding: 20px 20px 40px 20px;
}
.col1 .inloggen h3 {
  color: #fff;
}
.col1 .inloggen p {
  color: #fff;
}
.col1 .inloggen form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: #000;
  gap: 10px;
}
.col1 .inloggen input {
 width: 80%;
 color: #000;
 font-size: 18px;
 text-align: center;
 padding: 5px 0px;
}
.col1 .inloggen button {
background-color: #fff;
color: #000;
font-weight: 600;
padding: 5px 40px;
font-size: 18px;
border: solid 1px #fff;
margin-bottom: 30px;
}
.col1 .inloggen button:hover {
  border: solid 1px #86b94f;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/*FOOTER*/
.footer {
    background-color: #2F2D2E;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 10rem;
}
.footer .contact {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  padding: 40px 0px 0px 50px;
}
.footer .logo {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 50px;
}
.footer .contact .col1 {
    color: #fff;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer .contact .col1 a{
    font-family: 'Oxygen', sans-serif;  
    color: var(--green);
    text-decoration: none;
    font-size: 18px;
}
.footer .contact .col1 a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--green);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.bruhfooter {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.footer .contact .col1 a:hover::after{
	width: 100%;
}
