*,
*::before,
*::after {
  box-sizing: border-box;
}

.wineOrderDiv {
  display: flex;
  flex-direction: row;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  background-color: tomato;
  padding: 40px calc((100% - (255px * 3)) / 2);
}

.wineOrderResult {
  height: 100px;
  flex: 0 0 215px;
  margin: 1em 20px;
  border: 2px blue solid;
}
