@import url(https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Viga&display=swap);
/*font-family: 'Oxygen', sans-serif;*/
html {
    width: 100vw;
    height: 100vh;
}
li::marker {
    display: none;
}
.navbar {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding-right: 50px;
}
.navbar a {
    font-family: 'Viga', sans-serif;
    float: left;
    padding-left: 30px;
}   
.navbar .nav-ul .nav-li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #d700e7;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar .nav-ul .nav-li a:hover::after{
	width: 100%;
}